[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=/usr/sbin/acept
Icon=/usr/share/acept/pixmaps/gato.png
Terminal=false
Name=Control de acceso a Internet (acept)
Comment=Acept
Type=Application
MultipleArgs=false
Categories=Application;System;Settings;
NotShowIn=KDE
